<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>A PERSONAL BLOG</title>
</head>
<body>
    <header>
        <div class="button-area">
            <% if (isAuthenticated) { %>
                <form action="/logout" method="post">                  
                    <button class="button">logout</button>
                </form>
                <a href="new.html">
                    <button class="button">+ add</button>
                </a>
            <% } else { %> 
                <form action="login.html" method="post">                        
                    <button class="button">login</button>
                </form>
            <% } %>
        </div>
        <div class="info-area">
            <h1 class="headline">Personal Blog</h1>
        </div>
    </header>
    <main>
        <ul>
            <% if (!articles || articles.length === 0) { %>
                <h2>NO POSTS YET!</h2>
            <% } else { %>
            <% articles.forEach((article, i) => { %>
                <li class="article-item">
                    <div class="article-container">
                        <a href="article.html" class="article-link">
                            <p class="article-title"><%= article.title %></p>
                            <p class="article-date"><%= article.date %></p>
                        </a>
                <% if (isAuthenticated) { %>
                    <div class="admin-commands-area">
                        <form action="new.html" method="GET">
                            <button class="button">Edit</button>
                        </form>
                        <form action="/delete/<%= i %>" method="POST">
                            <button class="button">Delete</button>
                        </form>
                    </div> <% } %>
                    </div>
                    </li>
                <% }) %>
            <% } %>
        </ul>
    </main>      
    <footer>
        <h4>
            <%= year %>
            u-jin22
        </h4>
    </footer>
</body>
</html>