<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>A PERSONAL BLOG</title>
</head>
<body>
    <header>
        <div class="button-area">
            <% if (isAuthenticated) { %>
                <form action="/logout" method="post">                  
                    <button class="button">logout</button>
                </form>
                <% } %>
            <a href="index.html">
                <button class="button">back</button>
            </a>
        </div>
        <div class="info-area">
            <h1 class="headline">New Article</h1>
        </div>
    </header>
    <main>
        <form action="./index.html" method="get">
            <input required type="text" placeholder="Article title">
            <input required type="text" placeholder="Publishing date">
            <textarea placeholder="Content"></textarea>
            <button 
                type="submit" 
                class="button">
                publish
            </button type="submit">
        </form>
    </main>
    <footer>
        <h4>
            <%= year %>
            u-jin22
        </h4>
    </footer>
</body>
</html>