* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 8px;
}

main {
    padding: 0 1rem;
    display: flex;
    justify-content: flex-start;
}

footer {
    padding: 0 1rem;
    display: flex;
    justify-content: flex-end;
}